// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-nav {
	.user-menu {
		.dropdown-menu {
			li.user-header {
				height: auto;
			}
		}
	}
}

.sidebar {
	padding-bottom: 0;
}

#landing {
	padding-top: 0;
	background: #E9D460;
}

#headerwrap {
	background: transparent;
	padding: 13%;
	h1 {
		font-size: 55px;
		@media (min-width: 768px) {
			font-size: 70px;
		}
	}
	h1, h3 {
		color: #222;
	}
	.btn {
		font-size: 1.5em;
		border-radius: 0;
	}
}